/* Extra CSS for mkdocs-enumerate-headings-plugin */ 
.enumerate-headings-plugin {
    filter: opacity(35%);
  }

.terminal {
  --color:rgba(87,147,240);
  --background: rgba(50,51,64,0);
 border: solid 1px;
 border-radius: 6px;
 border-color: rgba(87,147,240);
 height: 202px; 
}

.hide {
  display:none;
}

.blinking {
  width: 8px;
  height: 20.84375px;
  background-color: rgba(87,147,240);
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: inline-block;
}

#btnControl {
  display: none;
}

#btnControl[id*="demo"]:checked + label {
  display: none;
}
